<footer class="site-footer">
    <div class="site-footer-content container">
        <div class="site-footer-left">
            <p class="site-footer-copyright"> design and developed by Arun Uniyal.</p>
        </div>
        <nav class="site-footer-social">
            <ul>
                <li><a class="twitter" href="https://twitter.com/" target="_blank"><span class="fa fa-twitter"></span></a></li>
                <li><a class="facebook" href="https://www.facebook.com/uniyal.arun/"><span class="fa fa-facebook" target="_blank"></span></a></li>
                <li><a class="dribbble" href="https://dribbble.com/"><span class="fa fa-dribbble" target="_blank"></span></a></li>
                <li><a class="linkedin" href="https://uk.linkedin.com/in/"><span class="fa fa-linkedin" target="_blank"></span></a></li>
            </ul>
        </nav>
    </div>
</footer>