<div class="page-main container">
    <div class="page-featured">
      <a routerLink="about"><img src="assets/img/my.jpg" alt="Arun Uniyal"></a>
      <h1>Web Designer / WordPress Developer</h1>
      <h3>I make bootstrap, made-to-order websites and am currently building great things for amazing clients at <a href="http://codebridgeinc.com" target="_blank">CodeBridge</a>.</h3><span class="clearfix"></span>
      <div class="btn-wrap">
          <a class="btn-large" routerLink="work">See My Work <span class="fa fa-chevron-right"></span></a></div>
    </div>
    <div class="page-main-content roww">
      <div class="page-section">
          <hr>
          <h2 class="section-title"><a routerLink="work">Featured Work</a></h2>
          <div class="project-snippet">
              <div class="work-previews">
                  <div class="desktop-preview">
                      <div class="preview-top">
                          <span class="circle-red"></span>
                          <span class="circle-yellow"></span>
                          <span class="circle-green"></span>
                          <p class="preview-url"><span class="fa fa-globe"></span> https://www.ispwp.com</p>
                      </div>
                      <div class="preview-img">
                          <a routerLink="work/ISPWP"><img src="assets/img/ispwp.jpg" alt="Desktop Screenshot: ispwp"></a>
                      </div>
                  </div>
                  <div class="mobile-preview">
                      <div class="preview-top">
                          <p class="preview-url"><span class="fa fa-globe"></span> https://www.ispwp.com</p>
                      </div>
                      <div class="preview-img">
                          <a routerLink="work/ISPWP"><img src="assets/img/ispwp-m.jpg" alt="Mobile Screenshot: ispwp"></a>
                      </div>
                  </div>
              </div>
              <div class="project-snippet-info">
                  <h3 class="project-title"><a routerLink="work/ISPWP">ISPWP</a></h3>
                  <p>ISPWP is an international professional wedding photographer's directory. Find one of the world's best wedding photographers for your wedding.</p>
                  <a class="btn" routerLink="work/ispwp">View Case Study <span class="fa fa-chevron-right"></span></a></div>
          </div>
      </div>
    </div>
    <div class="testimonial-section row">
        <blockquote class="testimonial">
            <p>Arun is not only great at design and development, but he is a problem solver always delivers an exceptional quality of work. Highly recommended.</p>
            <cite>
                <img class="img-rounded" src="assets/img/client/alex.jpg" alt="Alex Shelton">
            Alex Shelton, Founder of airwave.ai
            </cite>
        </blockquote>
    </div>
    <div class="page-main-content row">
      <div class="page-section">
          <h2 class="section-title"><a href="services">Services</a></h2>
          <div class="cols icon-section row">
              <div class="col-md">
                  <a href="services/#web-design"><span class="fa fa-desktop circle-icon-small"></span></a>
                  <h3 class="icon-section-title"><a href="services/#web-design">Web Design</a></h3>
                  <p>A website should be an investment that gets you more customers, grows your business and works across all devices. There's more to the web than design and code, and that's exactly what I offer.</p>
                  <a class="btn-ghost" href="services/#web-design">More About Web Design <span class="fa fa-chevron-right"></span></a></div>
              <div class="col-md">
                  <a href="services/#wordpress"><span class="fa fa-wordpress circle-icon-small"></span></a>
                  <h3 class="icon-section-title"><a href="services/#wordpress">WordPress Themes</a></h3>
                  <p>Most of my web design work is done with WordPress, but I also offer pure development on its own. Anything from theme development to fixing security holes, I'm your man.</p>
                  <a class="btn-ghost" href="services/#wordpress">More About WordPress <span class="fa fa-chevron-right"></span></a></div>
              <div class="col-md">
                  <a href="services/#seo"><span class="fa fa-search circle-icon-small"></span></a>
                  <h3 class="icon-section-title"><a href="services/#seo">SEO</a></h3>
                  <p>I've spent the last 4+ years studying and analyzing what makes a website perform well in search engines, so I know you'll beat the competition when it comes to organic search traffic.</p>
                  <a class="btn-ghost" href="services/#seo">More About SEO <span class="fa fa-chevron-right"></span></a></div>
          </div>
      </div>
    </div>
  <div class="testimonial-section row">
      <blockquote class="testimonial">
          <p>Arun is an excellent web designer and faultless technician. He’s a pleasure to work with, great value for money and will always go the extra mile when necessary.</p>
          <cite>
<img class="img-rounded" src="assets/img/client/chris-fenwick.jpg" alt="Chris Fenwick">
Chris Fenwick, CEO of Fenwick Studio
</cite></blockquote>
  </div>
</div>